// @import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@font-face {
  font-family: 'MontBlancBold';
  src: url('font/MontBlanc-Trial-Bold.woff2');
}

@font-face {
  font-family: 'MontBlancExtraBold';
  src: url('font/MontBlanc-Trial-ExtraBold.woff2');
}

@font-face {
  font-family: 'MontBlancSemiBold';
  src: url('font/MontBlanc-Trial-SemiBold.woff2');
}

@font-face {
  font-family: 'MontBlanc';
  src: url('font/MontBlanc-Trial-Regular.woff2');
}

*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

a {
  all: unset;
}


body {
  font-family: 'Open Sans', sans-serif;
}

.responsive-container {
  width: 1440px;
  margin: 0 auto;
}

h3 {
  font-family: 'MontBlancExtraBold', sans-serif;
  font-size: 40px;
  line-height: 1.2;
  .h-blue {
    color: #2A72FF;
  }
}

h6 {
  font-size: 18px;
  margin-bottom: 42px;  
}


header {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  height: 100px;
  // background-color: green;


  .header-container {
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
    width: 100%;

    // .logo-container {

      .logo {
        height: 40px;
        width: 106px;
        background: center / contain no-repeat url('img/logo.svg');
        cursor: pointer;
      }
    // }

    .menu-container {

      .menu {   

        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        gap: 72px;
        font-weight: 900;
        color: white;

        .menu-element {
          cursor: pointer;
          
          &.lens {
            height: 20px;
            width: 20px;
            background: center / contain no-repeat url('img/lens.svg');
          }
        }
      }
    }

    &.black {
      .menu-element {
        color: black !important;
      }
      
      .logo {
        height: 40px;
        width: 106px;
        background: center / contain no-repeat url('img/logo_black.svg') !important;
        cursor: pointer;
      }
  
      .lens {
        height: 20px;
        width: 20px;
        background: center / contain no-repeat url('img/lens_black.svg') !important;
        cursor: pointer;
      }
    }

  }
}

.firstpage {
  width: 100%;
  height: 100vh;
  background-position: top center;
  background-image: url('img/frontpage.jpg');
  background-origin: border-box;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  margin-bottom: 200px; 


  .firstpage-container {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 16%;

    .main-text {
      display: inline-flex;
      justify-content: flex-start;
      flex-direction: column;
      font-size: 84px;
      font-family: 'MontBlancBold', sans-serif;
      line-height: 1.2;
    }

    .counter-container {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 22%;
      .counter {
      position: absolute;

        .counter_number {
          font-family: 'MontBlanc', sans-serif;
          font-size: 84px;
        }

        .counter_text {
          font-family: 'Open Sans', sans-serif;
          font-size: 16px;
        }
      }
    }

  }


  .secondary-text {
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20;
  }

  
}

.mainpage-container {
  min-height: 100vh;

  .mainpage {
    margin-bottom: 200px; 
    .vertical-content {
      width: 100%;
      display: inline-flex;
      justify-content: space-between;
      .left {
        img {
          margin-top: 42px;
          height: 389px;
          width: 577px;
        }
      }
    
      .right {
        line-height: 1.5;
        p {
          margin-bottom: 42px;
          font-size: 20px;
          width: 700px;

          &.bold {
            font-weight: 700;
          }
        }
      }
    }
    
    .horizontal-content {
      .top {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .goto {
          display: inline-flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          gap: 25px;
          font-size: 18px;
          .arrow-right {
            width: 40px;
            height: 14px;
            background-image: url('@/assets/img/arrow.svg');
            background-position: center;
            background-size: cover;
          }
        }
      }

      .down {
        display: inline-flex;
        justify-content: space-between;
        margin-top: 52px;
        gap: 40px;
        .tour-card {
          display: inline-flex;
          align-items: flex-end;
          justify-content: center;
          background-position: center;
          background-size: cover;
          cursor: pointer;
          color: white;
          width: 330px;
          height: 500px;

          .bottom {
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            margin: 32px 40px;

            .title {
              font-weight: bold;
              font-size: 24px;
              margin-bottom: 12px;
            }
            .cities {
              font-size: 16;
            }
          }
        }
      }
    }
  }
}

.footer {
  height: 400px;
  background-position: bottom center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/frontpage.jpg');
  background-origin: border-box;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;

  .content-container {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 84px;
    width: 100%;

    .left {
      font-size: 18px;
      height: 260px;

      .quote {
        width: 450px;
      }

      .contact {
        margin-top: 60px;
        .address {
          margin-top: 12px;
        }
      }
    }
  
    .logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%); 
      cursor: pointer;
      img {
        width: 185px;
        height: 70px;
      }
    }
  
    .right {
      .menu {
        .menu-el {
          text-align: right;
          font-weight: bold;
          font-size: 18px;
          margin-bottom: 28px;
          cursor: pointer;
        }
      }
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.tour-list {
  margin-top: 140px;
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  .card {
    height: 412px;
    width: 330px;
    color: black;
    background-position: top center;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;

    .hover-link {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 330px;
      height: 250px;
      opacity: 0;
      font-size: 18px;
      color: white;
      text-decoration: underline;
      background-color: rgba(0, 0, 0, 0.33);
      cursor: pointer;
      transition: opacity 0.33 ease-out;

      &:hover {
        transition: opacity 0.33 ease-out;
        opacity: 1;

      }
    }
    
    .bottom {
      background-color: #F8F8F8;
      height: 162px;
      padding: 28px 24px 22px 24px;

      .title {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 18px;
      }
  
      .cities {
        font-size: 16px;
        margin-bottom: 16px;
      }
  
      .date {
        display: inline-flex;
        align-items: center;
        gap: 10px;
        .icon {
          background:  center / cover url('@/assets/img/calendar.svg');
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}

.popup-container {
  width:100%;
  height: 2000px;
  background-color: rgba(0,0,0,0.5);
  overflow:hidden;
  position:fixed;
  top:0px;

  .popup {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 750px;
    width: 1000px;
    padding: 75px 90px;
    margin:100px auto auto auto;

    h3 {
      margin-bottom: 24px;
    }
  
    input {
      background-color: white;
      border: 1px black solid;
      width: 360px;
      height: 52px;

      &::placeholder {
        font-size: 16px;
        color: #a3a3a3;
        padding-left: 28px;
    }
    }
  
    .inputs {
      display: inline-flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 32px;
    }

    .left {
      display: inline-flex;
      flex-direction: column;

      .goto {
        margin-top: 42px;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        gap: 25px;
        font-size: 18px;
        max-width: 220px;

        .arrow-right {
          width: 40px;
          height: 14px;
          background-image: url('@/assets/img/arrow.svg');
          background-position: center;
          background-size: cover;
        }
      }
    }
  
    .right {
      display: inline-flex;
      align-items: center;

      .selected-tour-label {
        font-size: 18px;
        margin-bottom: 30px;
      }

      .card {
        height: 412px;
        width: 330px;
        color: black;
        background-position: top center;
        background-origin: border-box;
        background-repeat: no-repeat;
        background-size: cover;
    
        .hover-link {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 330px;
          height: 250px;
          opacity: 0;
          font-size: 18px;
          color: white;
          text-decoration: underline;
          background-color: rgba(0, 0, 0, 0.33);
          cursor: pointer;
          transition: opacity 0.33 ease-out;
    
          // &:hover {
          //   transition: opacity 0.33 ease-out;
          //   opacity: 1;
    
          // }
        }
        
        .bottom {
          background-color: #F8F8F8;
          height: 162px;
          padding: 28px 24px 22px 24px;
    
          .title {
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 18px;
          }
      
          .cities {
            font-size: 16px;
            margin-bottom: 16px;
          }
      
          .date {
            display: inline-flex;
            align-items: center;
            gap: 10px;
            .icon {
              background:  center / cover url('@/assets/img/calendar.svg');
              width: 14px;
              height: 14px;
            }
          }
        }
      }
    }
  }
}